.check-ok {
  width: 128px;
  height: 128px;
}

.icon-cart {
  width: 128px;
  height: 128px;
}

.icon-del {
  width: 128px;
  height: 128px;
}

.icon-ok {
  width: 128px;
  height: 128px;
}

.loading-spinning-bubbles {
  width: 64px;
  height: 64px;
}

.sort-down {
  width: 128px;
  height: 128px;
}

.sort-up {
  width: 128px;
  height: 128px;
}

